h1, h2, h3, h4, h5, h6, p {
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.75em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.25em;
}
p {
    font-size: 1em;
}
* {
    box-sizing: border-box;
}

.container {
    width: 960px;
    box-shadow: 0px 0px 20px 5px gray;
    margin: 5% auto 5% auto;
    border-radius: 10px;
}

header {
    background-color: rgb(49, 0, 0);
    text-align: center;
    color: white;
    padding: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.addSection {
    text-align: center;
    background-color: white;
    height: 80px;
    width: 100%;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
}

.directions {
    padding-bottom: 10px;
    font-weight: 700;
    color: #808080;
}

.searchBox {
    border-style: solid;
    border-color: #808080;
    height: 25px;
    border-width: 3px;
    text-transform: capitalize;
}

.addButton {
    border-style: solid;
    border-color: #808080;
    border-width: 3px;
    height: 25px;
    color: #808080;
    background-color: white;
    border-radius: 25px;
}

.subTitle {
    padding-bottom: 10px;
    color: #808080;
    padding-top: 10px;
}

button {
    font-weight: 700;
    border-style: solid;
    border-color: #808080;
    border-width: 3px;
    height: 30px;
    color: #808080;
    background-color: white;
    border-radius: 25px;
    display: inline-block;
    margin: 5px;
}

.rating {
    padding-bottom: 5px;
    font-weight: 700;
    color: #808080;
}

.buttonSection {
    background-color: white;
    text-align: center;
    width: 100%;
    min-height: 150px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
}

footer {
    background-color: rgb(90, 0, 0);
    color: white;
    text-align: center;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}