h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1em;
}
p {
    font-size: 0.75em;
}
body {
    background-image: url("../images/stripes-light.png");
    background-size: cover;
}
.container {
    margin: 10% 0;
}
#headerbar {
    margin: 0 0 10px 0;
    padding: 40px;
    font-size: 3em;
    text-align: center;
    border-radius: 0;
}
#buttonfield {
    height: 100px;
    border: 2px dashed red;
    margin: 0px;
}
#giphyfield {
    height: 100px;
    border: 2px dashed blue;
    margin: 0px;
}